<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Protected</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Protected Page</h1>
        <p>This is a protected page. You need to be logged in to access it.</p>
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
    </div>
</body>
</html>